.env
backend.py
classes.txt
image.jpg
IMG_5705.jpg
IMG_5709.jpg
processed_image.txt
processed_image.xml
scanner.html
scanner.js
script.py
test_app.py
index.html
*.json
*.xml
1.txt
5_back.txt
5_back.*
*.zip
dataset_new_
temp
tess*
script*
Note*
test*
data*
__pycache__